<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Remember Me App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
  <link href ='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header>
    <div class="container">
      <h1> Remember Me</h1>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="#">View Items</a> 
        <div class="dropdown">
          <i class="bx bxs-user"></i>
          <div class="dropdown-menu">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
      </nav>
    </div>
    <hr>
  </header>

  <main class="container">
    {% block content %}

    {% endblock %}
  </main>

  <footer>
    <hr>
    <div class="container" style="text-align: center;">
      <p>&copy; {{ 2025 }} Remember Me App. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
